<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h1>Dog Breed Form</h1>
      <%= form_with(id: 'dogForm', data: {controller: "dogs" }, html: {onsubmit: "return false;"}, url: nil ) do |form| %>
        <div class="mb-3">
          <%= form.label 'breed', 'Breed' %>
          <%= form.text_field 'breed', class: 'form-control', id: 'breedInput' %>
        </div>
        <br>
        <%= form.submit 'Submit', class: 'btn btn-primary', data: {action: "click->dogs#fetch_image"} %>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="col-md-6">
        <%= turbo_frame_tag "resultFrame" do %> 
        <% end %>
      </div>
    </div>
  </div>
</div>